
.like-img{
    width: 26px;
}

.box-like{
    max-height: fit-content;
}

.like{
    display: none;
}



.like-label{
    padding: 1px 12px;

    background-image: url('../../assets/LikeV.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.like:checked ~ .like-label{
    padding: 1px 12px;
    background-image: url('../../assets/LikeVCheck.png');
} 


