.btn-filtro {
    font-size: clamp(12px, 2.5vw, 16px);
    padding: clamp(2px, 0.5vw, 4px) clamp(8px, 2vw, 12px);
    border-radius: 8px;
    border: 1px solid #371B58;
    background: none;
    color: #371B58;
    margin: 0em 0.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-filtro:hover {
    background-color: #371B58;
    color: #FFCB04;
    cursor: pointer;
}

/* Melhorando toque em telas pequenas */
@media (max-width: 480px) {
    .btn-filtro {
        font-size: clamp(12px, 4vw, 14px);
        padding: 2px;
        margin: 0.3em 0.2em;
        width: 100%;
    }
    
}
