:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --fundo-navegacao: #6441A5;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

